#####################################################
{# define namespace Error -#}
{%- set Error = namespace(state=false) -%}

{%- extends "axisSanity.jinja2" -%}

{%- block sanity -%}
{{super()}}
{%- endblock -%}

{%- block config -%}
{{super()}}
{%- endblock -%}
