### JOINT ###
{# define namespace Error -#}
{%- set Error = namespace(state=false) -%}
{%- extends "axisCommon.jinja2" -%}

{%- block header -%}
{{super()}}
{%- endblock -%}

{%- block encoder -%}
{{super()}}
{%- endblock -%}

{%- block common -%}
{{super()}}
{%- endblock -%}
