
record(longin,"${ECMC_P}${KEY=AI}${CH_ID}-CycCnt"){
  field(DESC, "${HWTYPE}: AI${CH_ID}: Cycle Counter")
  field(PINI, "${PINI=1}")
  field(DTYP, "asynInt32")
  field(INP,  "@asyn(${PORT},${ADDR=0},${TIMEOUT=1})T_SMP_MS=${T_SMP_MS=1000}/TYPE=asynInt32/ec${MASTER_ID}.s${SLAVE_POS}.cycleCounter${CH_ID}?")
  field(SCAN, "I/O Intr")
  field(TSE,  "${TSE=-2}")
}
