record(mbbo,  "${ECMC_P}Enc-SelCmd"){
  field(DESC, "Select Encoder command")
  field(OUT,  "${ECMC_P}SDO-EncSel-Val PP")
  field(EIST, "BISS-C")
  field(EIVL, 8)
  field(SVST, "WITHOUT")
  field(SVVL, 7)
  field(FRST, "INCREMENTAL")
  field(FRVL, 4)
  field(VAL,  0)
}
