record(waveform,"$(P)ec$(MASTER_ID)-s$(SLAVE_POS)-$(HWTYPE)-AI$(CH_ID)-Array"){
  field(DESC, "$(HWTYPE): AI$(CH_ID): Value Array [$(NELM)]")
  field(PINI, "$(PINI=1)")
  field(DTYP, "$(DTYP=asynInt16ArrayIn)")
  field(INP,  "@asyn($(PORT),$(ADDR=0),$(TIMEOUT=1))T_SMP_MS=$(T_SMP_MS=1000)/TYPE=asynInt16ArrayIn/ec$(MASTER_ID).mm.CH$(CH_ID)_ARRAY?")
  field(FTVL, "$(FTVL=SHORT)")
  field(NELM, "$(NELM)")
  field(SCAN, "I/O Intr")
  field(TSE,  "$(TSE=-2)")
}

record(ai,"$(P)ec$(MASTER_ID)-s$(SLAVE_POS)-$(HWTYPE)-AI$(CH_ID)-CycleCnt"){
  field(DESC, "$(HWTYPE): AI$(CH_ID): Cycle Counter")
  field(PINI, "$(PINI=1)")
  field(DTYP, "asynInt32")
  field(INP,  "@asyn($(PORT),$(ADDR=0),$(TIMEOUT=1))T_SMP_MS=$(T_SMP_MS=1000)/TYPE=asynInt32/ec$(MASTER_ID).s$(SLAVE_POS).CH$(CH_ID)_CYCLE_CNT?")
  field(SCAN, "I/O Intr")
  field(TSE,  "$(TSE=-2)")
}
