
#- Vars needed to support both "homing." and "encoder.homing."
#- Cleanup if needed
epicsEnvUnset(VEL_FRM_CAM)
epicsEnvUnset(VEL_TO_CAM)
epicsEnvUnset(HOME_PROC)
epicsEnvUnset(HOME_POS)
epicsEnvUnset(ACC)
epicsEnvUnset(DEC)
epicsEnvUnset(REF_HME)
epicsEnvUnset(REF_STRT)
epicsEnvUnset(POST_ENA)
epicsEnvUnset(POST_POS)
epicsEnvUnset(ENC_EGU)
epicsEnvUnset(ENC_DESC)
epicsEnvUnset(ECMC_SID_TEMP)
epicsEnvUnset(ECMC_AX_DRV_MODE)
