#- =============================================================================
#- Controller
#- =============================================================================

{%- if controller is defined %}
    {%- set controllerKp  = controller.Kp %}
    {%- set controllerKi  = controller.Ki %}
    {%- set controllerKd  = controller.Kd %}
    {%- set controllerKff = controller.Kff %}
{%- else %}
    {%- set controllerKp  = 1.0 %}
    {%- set controllerKi  = 0.0 %}
    {%- set controllerKd  = 0.0 %}
    {%- set controllerKff = 1.0 %}
{%- endif %}

ecmcConfigOrDie "Cfg.SetAxisCntrlKp(${ECMC_AXIS_NO},{{ controllerKp }})"
ecmcConfigOrDie "Cfg.SetAxisCntrlKi(${ECMC_AXIS_NO},{{ controllerKi }})"
ecmcConfigOrDie "Cfg.SetAxisCntrlKd(${ECMC_AXIS_NO},{{ controllerKd }})"
ecmcConfigOrDie "Cfg.SetAxisCntrlKff(${ECMC_AXIS_NO},{{ controllerKff }})"

#- Set controller params for when near target
{%- if (controller is defined) and (controller.inner is defined) %}
    {%- if controller.inner.tol is defined %}
        ecmcConfigOrDie "Cfg.SetAxisCntrlInnerParams(${ECMC_AXIS_NO},{{ controller.inner.Kp|default(0) }},{{ controller.inner.Ki|default(0) }},{{ controller.inner.Kd|default(0) }},{{ controller.inner.tol }})"
    {%- else  %}
         # WARNING: Controller inner tolerance not defined.
    {%- endif  %}
{%- else  %}
    # INFO: Inner controller not used.
{%- endif  %}

{%- if (controller is defined) and (controller.limits is defined) %}
    {%- if controller.limits.minOutput is defined %}
        ecmcConfigOrDie "Cfg.SetAxisCntrlOutLL(${ECMC_AXIS_NO},{{ controller.limits.minOutput }})"
    {%- endif %}
    {%- if controller.limits.maxOutput is defined %}
        ecmcConfigOrDie "Cfg.SetAxisCntrlOutHL(${ECMC_AXIS_NO},{{ controller.limits.maxOutput }})"
    {%- endif %}
    {%- if controller.limits.minIntegral is defined %}
        ecmcConfigOrDie "Cfg.SetAxisCntrlIPartLL(${ECMC_AXIS_NO},{{ controller.limits.minIntegral }})"
    {%- endif %}
    {%- if controller.limits.maxIntegral is defined %}
        ecmcConfigOrDie "Cfg.SetAxisCntrlIPartHL(${ECMC_AXIS_NO},{{ controller.limits.maxIntegral }})"
    {%- endif %}
{%- endif  %}

#- Actually checked in ecmc monitor
{%- if (controller is defined) and (controller.deadband is defined) %}
    ecmcConfigOrDie "Cfg.SetAxisCntrlDeadband(${ECMC_AXIS_NO},{{ controller.deadband.tol }})"
    ecmcConfigOrDie "Cfg.SetAxisCntrlDeadbandTime(${ECMC_AXIS_NO},{{ controller.deadband.time }})"
{%- endif  %}
