{#- check for drive key -#}
{%- if drive is not defined %}
  {{- onError('drive must be set!') }}
{#- check for numerator and denominator -#}
{%- elif not (drive.numerator and drive.denominator) %}
  {{ onError('drive.numerator or drive.denominator not defined or zero') }}
{#- check for setpoint -#}
{%- elif not drive.setpoint %}
  {{ onError('drive.setpoint is mandatory') }}
{#- check for control if reset is set -#}
{%- elif drive.reset %}
  {%- if not drive.control %}
    {{ onError('drive.reset w/o drive.control') }}
  {%- endif %}
{#- check for status if warning or error is set -#}
{%- elif drive.warning or drive.error %}
  {%- if not drive.status %}
    {{ onError('drive.warning or drive.error w/o drive.status') }}
  {%- endif %}
{%- endif %}
