{#- check for encoder key -#}
{%- if encoder is not defined %}
  {{- onError('encoder must be set!') }}
{#- check for numerator and denominator -#}
{%- elif not (encoder.numerator and encoder.denominator) %}
  {{ onError('encoder.numerator or encoder.denominator not defined or zero') }}
{%- endif %}
{#- check for position -#}
{%- if not encoder.position %}
  {{ onError('encoder.position is mandatory') }}
{%- endif %}
{#- check for control if reset is set -#}
{%- if encoder.reset %}
  {%- if not encoder.control %}
  {{ onError('encoder.reset w/o encoder.control') }}
  {%- endif %}
{%- endif %}
{#- check for status if warning or error is set -#}
{%- if encoder.warning or encoder.error %}
  {%- if not encoder.status %}
  {{ onError('encoder.warning or encoder.error w/o encoder.status') }}
  {%- endif %}
{%- endif %}
