#- ####################################################
#-  ENDEFFECTOR, aka virtual axis
#- ####################################################
{%- extends "endEffectorBody.jinja2" -%}

{% block body %}
{{super()}}
{% endblock %}
