#- General
{#- drive is only present in type: 'joint' #}
{%- set drive = None if drive is undefined else drive %}
ecmcConfigOrDie "Cfg.CreateAxis({{ axis.id }},{{ axis.type|int }},{{ drive.type|default(0)|int }})"
{%- if axis.type|int == 2 %}
ecmcConfigOrDie "Cfg.SetAxisTrajStartPos({{ axis.id }},0)"
{%- endif %}
#- health output
ecmcConfigOrDie "Cfg.LinkEcEntryToObject("{{ axis.healthOutput|default('') }}","ax{{ axis.id }}.health")"

#- Trajectory
{%- set deceleration = trajectory.axis.acceleration if trajectory.axis.deceleration is undefined else trajectory.axis.deceleration %}
{%- set maxDec = trajectory.axis.acceleration if trajectory.axis.acceleration > deceleration else deceleration %}

ecmcConfigOrDie "Cfg.SetAxisAcc({{ axis.id }},{{ trajectory.axis.acceleration|float }})"
ecmcConfigOrDie "Cfg.SetAxisDec({{ axis.id }},{{ deceleration|float }})"
ecmcConfigOrDie "Cfg.SetAxisVel({{ axis.id }},{{ trajectory.axis.velocity|float }})"
ecmcConfigOrDie "Cfg.SetAxisEmergDeceleration({{ axis.id }},{{ trajectory.axis.emergencyDeceleration or maxDec*10 |float }})"

{%- set modulo = None if trajectory.modulo is not defined else trajectory.modulo %}
ecmcConfigOrDie "Cfg.SetAxisModRange({{ axis.id }}, {{ modulo.range|default(0)|float}})"
ecmcConfigOrDie "Cfg.SetAxisModType({{ axis.id }}, {{ modulo.type|default(0)|int}})"
