{% if homing -%}
    #- =============================================================================
    #- Homing
    #- =============================================================================
    ecmcConfigOrDie "Cfg.SetAxisHomePosition({{ axis.id }},{{ homing.position }})"
    {%- if homing.postMoveEnable %}
        ecmcConfigOrDie "Cfg.SetAxisHomePostMoveEnable({{ axis.id }},{{ homing.postMoveEnable|int }})"
        ecmcConfigOrDie "Cfg.SetAxisHomePostMoveTargetPosition({{ axis.id }},{{ homing.postMovePosition|default(0)}})"
    {%- endif %}
    {%- if homing.latchCount is defined %}
        ecmcConfigOrDie "Cfg.SetAxisHomeLatchCountOffset({{ axis.id }},{{ homing.latchCount }})"
    {%- endif %}
    {#- velocities  #}
    ecmcConfigOrDie "Cfg.SetAxisHomeVelTowardsCam({{ axis.id }},{{ homing.velocity.to }})"
    ecmcConfigOrDie "Cfg.SetAxisHomeVelOffCam({{ axis.id }},{{ homing.velocity.from|default(homing.velocity.to) }})"
    {%- if homing.timeout %}
        ecmcConfigOrDie "Cfg.SetAxisSeqTimeout({{ axis.id }},{{ homing.timeout }})"
    {%- endif %}
{%- endif %}
