{#- check for input key -#}
{%- if input is not defined %}
  {{- onError('input must be set!') }}
{#- check for input.home and input.interlock #}
{%- elif not input.home %}
    {{ onError('input.home is mandatory') }}
{%- elif not input.interlock %}
    {{ onError('input.interlock is mandatory') }}
{#- check for input.limit and both forward and backward -#}
{%- elif not input.limit %}
  {{ onError('input.limit forward,backward are mandatory') }}
{%- else %}
  {%- if input.limit.forward is not defined -%}
    {{ onError('input.limit.forward is mandatory') }}
  {%- endif %}
  {%- if input.limit.backward is not defined -%}
    {{ onError('input.limit.backward is mandatory') }}
  {%- endif %}
{%- endif %}
