{### JOINT ###}
{%- block body -%}

{% include 'header.jinja2' %}
{% include 'controller.jinja2' %}
{% include 'encoder.jinja2' %}
{% include 'drive.jinja2' %}
{% include 'footer.jinja2' %}

{%- endblock -%}
