#- ####################################################
#-  JOINT, aka physical / real axis
#- ####################################################

{%- extends "jointBody.jinja2"  -%}

{% block body %}
{{super()}}
{% endblock %}
