{### JOINT ###}
{%- block body -%}
{% include 'axis.jinja2' %}
{% include 'drive.jinja2' %}
    {#-{% include 'header.jinja2' %}#}

{% include 'encoder.jinja2' %}

{% include 'controller.jinja2' %}

{% include 'trajectory.jinja2' %}

{% include 'input.jinja2' %}

{% include 'homing.jinja2' %}

{% include 'soft_limit.jinja2' %}

    {#-{% include 'footer.jinja2' %}#}
{%- endblock -%}
