{%- if monitoring is defined %}
    #- =============================================================================
    #- Monitoring
    #- =============================================================================

    {%- if (monitoring.lag is defined) and (monitoring.lag.enable is defined) and (monitoring.lag.enable == true) %}
        #- lag error if |planned-actual|>{{ monitoring.lag.tolerance }} for >{{ monitoring.lag.time }} cycles
        ecmcConfigOrDie "Cfg.SetAxisMonEnableLagMon(${ECMC_AXIS_NO},1)"
        ecmcConfigOrDie "Cfg.SetAxisMonPosLagTol(${ECMC_AXIS_NO},{{ monitoring.lag.tolerance }})"
        ecmcConfigOrDie "Cfg.SetAxisMonPosLagTime(${ECMC_AXIS_NO},{{ monitoring.lag.time }})"
    {%- else  %}
        ecmcConfigOrDie "Cfg.SetAxisMonEnableLagMon(${ECMC_AXIS_NO},0)"
    {%- endif %}

    {%- if (monitoring.target is defined) and (monitoring.target.enable is defined) %}
        #- at target if |target-actual|<{{ monitoring.target.tolerance }} for >{{ monitoring.target.time }} cycles
        ecmcConfigOrDie "Cfg.SetAxisMonEnableAtTargetMon(${ECMC_AXIS_NO},{{ monitoring.target.enable|int }})"
        ecmcConfigOrDie "Cfg.SetAxisMonAtTargetTol(${ECMC_AXIS_NO},{{ monitoring.target.tolerance }})"
        ecmcConfigOrDie "Cfg.SetAxisMonAtTargetTime(${ECMC_AXIS_NO},{{ monitoring.target.time }})"
    {%- else  %}
        ecmcConfigOrDie "Cfg.SetAxisMonEnableAtTargetMon(${ECMC_AXIS_NO},0)"
    {%- endif %}

    {%- if (monitoring.velocity is defined) and (monitoring.velocity.enable is defined) %}
        #- velocity: v_max = {{ monitoring.velocity.max}}
        ecmcConfigOrDie "Cfg.SetAxisMonEnableMaxVel(${ECMC_AXIS_NO},{{ monitoring.velocity.enable|int }})"
        ecmcConfigOrDie "Cfg.SetAxisMonMaxVel(${ECMC_AXIS_NO},{{ monitoring.velocity.max }})"
        ecmcConfigOrDie "Cfg.SetAxisMonMaxVelTrajILDelay(${ECMC_AXIS_NO},{{ monitoring.velocity.time.trajectory }})"
        {%- if monitoring.velocity.time.drive is defined %}
            ecmcConfigOrDie "Cfg.SetAxisMonMaxVelDriveILDelay(${ECMC_AXIS_NO},{{ monitoring.velocity.time.drive }})"
        {%- endif  %}
    {%- else %}
        ecmcConfigOrDie "Cfg.SetAxisMonEnableMaxVel(${ECMC_AXIS_NO},0)"
    {%- endif %}

    {%- if (monitoring.velocityDifference is defined) and (monitoring.velocityDifference.enable is defined) %}
        #- velocity difference: max diff = {{ monitoring.velocityDifference.max}}
        ecmcConfigOrDie "Cfg.SetAxisMonEnableVelocityDiff(${ECMC_AXIS_NO},{{ monitoring.velocityDifference.enable|int }})"
        ecmcConfigOrDie "Cfg.SetAxisMonVelDiffTol(${ECMC_AXIS_NO},{{ monitoring.velocityDifference.max }})"
        ecmcConfigOrDie "Cfg.SetAxisMonVelDiffTrajILDelay(${ECMC_AXIS_NO},{{ monitoring.velocityDifference.time.trajectory }})"
        {%- if monitoring.velocity.time.drive is defined %}
            ecmcConfigOrDie "Cfg.SetAxisMonVelDiffDriveILDelay(${ECMC_AXIS_NO},{{ monitoring.velocityDifference.time.drive }})"
        {%- endif  %}
    {%- endif %}

    {%- if (monitoring.stall is defined) and (monitoring.stall.enable is defined) %}
        ecmcConfigOrDie "Cfg.SetAxisMonEnableStallMon(${ECMC_AXIS_NO},{{ monitoring.stall.enable|int }})"
        {%- if (monitoring.stall.time is defined) and (monitoring.stall.time.timeout is defined) %}
            ecmcConfigOrDie "Cfg.SetAxisMonStallMinTimeOut(${ECMC_AXIS_NO},{{ monitoring.stall.time.timeout }})"
        {%- endif  %}
        {%- if (monitoring.stall.time is defined) and (monitoring.stall.time.factor is defined) %}
            ecmcConfigOrDie "Cfg.SetAxisMonStallTimeFactor(${ECMC_AXIS_NO},{{ monitoring.stall.time.factor }})"
        {%- endif  %}
    {%- endif %}
{%- endif %}
