{%- if monitoring is defined %}
    #- =============================================================================
    #- Monitoring
    #- =============================================================================

    {%- if monitoring.lag.enable is defined %}
        #- lag error if |planned-actual|>{{ monitoring.lag.tolerance }} for >{{ monitoring.lag.time }} cycles
        ecmcConfigOrDie "Cfg.SetAxisMonEnableLagMon({{ axis.id }},{{ monitoring.lag.enable|int }})"
        ecmcConfigOrDie "Cfg.SetAxisMonPosLagTol({{ axis.id }},{{ monitoring.lag.tolerance }})"
        ecmcConfigOrDie "Cfg.SetAxisMonPosLagTime({{ axis.id }},{{ monitoring.lag.time }})"
    {%- else  %}
        ecmcConfigOrDie "Cfg.SetAxisMonEnableLagMon({{ axis.id }},0)"
    {%- endif %}

    {%- if monitoring.target.enable is defined %}
        #- at target if |target-actual|<{{ monitoring.target.tolerance }} for >{{ monitoring.target.time }} cycles
        ecmcConfigOrDie "Cfg.SetAxisMonEnableAtTargetMon({{ axis.id }},{{ monitoring.target.enable|int }})"
        ecmcConfigOrDie "Cfg.SetAxisMonAtTargetTol({{ axis.id }},{{ monitoring.target.tolerance }})"
        ecmcConfigOrDie "Cfg.SetAxisMonAtTargetTime({{ axis.id }},{{ monitoring.target.time }})"
    {%- else  %}
        ecmcConfigOrDie "Cfg.SetAxisMonEnableAtTargetMon({{ axis.id }},0)"
    {%- endif %}

    {%- if monitoring.velocity.enable is defined %}
        #- velocity: v_max = {{ monitoring.velocity.max}}
        ecmcConfigOrDie "Cfg.SetAxisMonEnableMaxVel({{ axis.id }},{{ monitoring.velocity.enable|int }})"
        ecmcConfigOrDie "Cfg.SetAxisMonMaxVel({{ axis.id }},{{ monitoring.velocity.max }})"
        ecmcConfigOrDie "Cfg.SetAxisMonMaxVelTrajILDelay({{ axis.id }},{{ monitoring.velocity.time.trajectory }})"
        {%- if monitoring.velocity.time.drive is defined %}
            ecmcConfigOrDie "Cfg.SetAxisMonMaxVelDriveILDelay({{ axis.id }},{{ monitoring.velocity.time.drive }})"
        {%- endif  %}
    {%- else %}
        ecmcConfigOrDie "Cfg.SetAxisMonEnableMaxVel({{ axis.id }},0)"
    {%- endif %}

    {%- if (monitoring.velocityDifference is defined) and (monitoring.velocityDifference.enable is defined) %}
        #- velocity difference: max diff = {{ monitoring.velocityDifference.max}}
        ecmcConfigOrDie "Cfg.SetAxisMonEnableVelocityDiff({{ axis.id }},{{ monitoring.velocityDifference.enable|int }})"
        ecmcConfigOrDie "Cfg.SetAxisMonVelDiffTol({{ axis.id }},{{ monitoring.velocityDifference.max }})"
        ecmcConfigOrDie "Cfg.SetAxisMonVelDiffTrajILDelay({{ axis.id }},{{ monitoring.velocityDifference.time.trajectory }})"
        {%- if monitoring.velocity.time.drive is defined %}
            ecmcConfigOrDie "Cfg.SetAxisMonVelDiffDriveILDelay({{ axis.id }},{{ monitoring.velocityDifference.time.drive }})"
        {%- endif  %}
    {%- endif %}

    {%- if (monitoring.stall is defined) and (monitoring.stall.enable is defined) %}
        ecmcConfigOrDie "Cfg.SetAxisMonEnableStallMon({{ axis.id }},{{ monitoring.stall.enable|int }})"
        {%- if monitoring.stall.time.timeout is defined %}
            ecmcConfigOrDie "Cfg.SetAxisMonStallMinTimeOut({{ axis.id }},{{ monitoring.stall.time.timeout }})"
        {%- endif  %}
        {%- if monitoring.stall.time.factor is defined %}
            ecmcConfigOrDie "Cfg.SetAxisMonStallTimeFactor({{ axis.id }},{{ monitoring.stall.time.factor }})"
        {%- endif  %}
    {%- endif %}
{%- endif %}
