#- PLC rate, if not explicitly declared, deduce rate from bus frequence (ECMC_EC_SAMPLE_RATE)
{%- if (plc.rateMilliseconds is defined) and (plc.rateMilliseconds > 0) %}
epicsEnvSet("ECMC_PLC_SAMPLE_RATE_MS",  "{{ plc.rateMilliseconds|float }}")
{%- else %}
ecmcEpicsEnvSetCalc(ECMC_PLC_RATE_, "1000/${ECMC_EC_SAMPLE_RATE}", "%f")
epicsEnvSet("ECMC_PLC_SAMPLE_RATE_MS",  "${ECMC_PLC_RATE_}")
epicsEnvUnset(ECMC_PLC_RATE_) # clean up, temp variable
{%- endif %}

#- Create a new PLC
epicsEnvSet("PLC_ID", {{ plc.id }})
ecmcConfigOrDie "Cfg.CreatePLC({{ plc.id }},${ECMC_PLC_SAMPLE_RATE_MS})"

#- PLC code
{%- if plc.code is defined %}
    {%- for line in plc.code %}
        ecmcConfigOrDie "Cfg.AppendPLCExpr({{ plc.id }})={{ line|replace(";", "|") }}"
    {%- endfor %}
{%- endif %}

#- Enable PLC
ecmcConfigOrDie "Cfg.SetPLCEnable({{ plc.id }},{{ plc.enable|default(1)|int }})"

#- default PLC-PVs
{%- if plc.id < 10 %}
    dbLoadTemplate(${SUBST_FILE="ecmcPlc.substitutions"}, "PORT=${ECMC_ASYN_PORT},A=0,Index={{ plc.id }},Name=${ECMC_PREFIX},Index2Char=0{{ plc.id }},T_SMP_MS=${ECMC_SAMPLE_RATE_MS}")
{%- else %}
    dbLoadTemplate(${SUBST_FILE="ecmcPlc.substitutions"}, "PORT=${ECMC_ASYN_PORT},A=0,Index={{ plc.id }},Name=${ECMC_PREFIX},Index2Char={{ plc.id }},T_SMP_MS=${ECMC_SAMPLE_RATE_MS}")
{%- endif %}


#- Below for facilitate auto gui generation
# Do not set NxtObj "pointer" if this is the first axis (ECMC_PREV_PLC_OBJ_ID==-1)
ecmcEpicsEnvSetCalcTernary(ECMC_EXE_NEXT_PLC,"${ECMC_PREV_PLC_OBJ_ID=-1}>=0", "","#- ")
${ECMC_EXE_NEXT_PLC}ecmcFileExist(ecmcPlcPrevPlc.db,1,1)
${ECMC_EXE_NEXT_PLC}dbLoadRecords(ecmcPlcPrevPlc.db,"NEXT_OBJ_ID=${PLC_ID=-1},PREV_ECMC_P=${ECMC_PREV_PLC_P=""}")
epicsEnvUnset(ECMC_EXE_NEXT_PLC)

#- If this is the first added slave then store value in P:MCU-Cfg-PLC-FrstObj
ecmcEpicsEnvSetCalcTernary(ECMC_EXE_FIRST_PLC,"${ECMC_PREV_PLC_OBJ_ID=-1}<0", "","#- ")
${ECMC_EXE_FIRST_PLC}ecmcFileExist(ecmcPlcFirstPlc.db,1,1)
${ECMC_EXE_FIRST_PLC}dbLoadRecords(ecmcPlcFirstPlc.db,"P=${ECMC_PREFIX},FIRST_OBJ_ID=${PLC_ID}")
epicsEnvUnset(ECMC_EXE_FIRST_PLC)

#- Store info to populate the ECMC_P-NxtObj "pointer" of next added axis
epicsEnvSet(ECMC_PREV_PLC_P,"$(ECMC_PREFIX)MCU-Cfg-PLC${PLC_ID}-")
epicsEnvSet(ECMC_PREV_PLC_OBJ_ID,${PLC_ID})

#- cleanup
epicsEnvUnset(PLC_ID)

ecmcEpicsEnvSetCalc(ECMC_PLC_COUNT, "$(ECMC_PLC_COUNT=0)+1")
