#==============================================================================
#- plc_merge.jinja2
#- Arguments: OUTPUT_FILE, OBJ_ID
#-d /**
#-d   \brief Snippet for merging plc.file and plc.code
#-d   \author Anders Sandström
#-d   \file
#-d   \param OUTPUT_FILE Output file
#-d   \param OBJ_ID Object ID
#-d
#-d Note
#-d Rewritten since the jinja workflow was too restrictive:
#-d 1. Need to be able to use macros in files and also in filename
#-d 2. Get en error when plc.file is not found
#-d 3. Append plc.code to plc.file
#-d Conclusion: A bit nasty but works..


