
#- Template for adding a slave and configuration
ecmcEpicsEnvSetCalcTernary(BLOCK,"'${SLAVE_ID=-1}'=='${ECMC_COMP_SUBST_OLD_S_ID}'","#-", "")
${BLOCK}${SCRIPTEXEC} ${ecmccfg_DIR}addSlave.cmd, "SLAVE_ID=$(SLAVE_ID), HW_DESC=${HW_DESC}"
epicsEnvUnset(ECMC_COMP_SUBST_OLD_S_ID,${SLAVE_ID=-1})

#- block if -1
ecmcEpicsEnvSetCalcTernary(BLOCK,"'${COMP=-1}'=='-1' or ${COMP_CH=-1}==-1","#-", "")
${BLOCK}${SCRIPTEXEC} ${ecmccomp_DIR}applyComponent.cmd "SLAVE_ID=$(SLAVE_ID),HW_DESC=${HW_DESC},COMP=${COMP},CH_ID=${COMP_CH},MACROS='${COMP_MACROS}'"
epicsEnvUnset(BLOCK)

