record(mbbiDirect, "${ECMC_P}PWM-CycleCnt") {
  field(DESC, "PWM input cycle counter")
  field(DTYP, "asynUInt32Digital")
  field(INP,  "@asynMask(${PORT},${ADDR=0},0xC000,${TIMEOUT=1})T_SMP_MS=${T_SMP_MS=1000}/TYPE=asynUInt32Digital/ec${MASTER_ID}.s${SLAVE_POS}.PWM_Stat?")
  field(SCAN, "I/O Intr")
  field(NOBT, "2")
  field(SHFT, "14")
  field(TSE,  "-2")
}
