record(bi,"${ECMC_P}BO$(CH_ID)-OvrLoad"){
  field(DESC, "${DESC=${HWTYPE}: Overload}")
  field(PINI, "${PINI=1}")
  field(DTYP, "${DTYP=asynInt32}")
  field(SCAN, "${SCAN=I/O Intr}")
  field(INP,  "@asyn(${PORT},${ADDR},${TIMEOUT})T_SMP_MS=${T_SMP_MS=1000}/TYPE=asynInt32/ec${MASTER_ID}.s${SLAVE_POS}.binaryOutputStatus${CH_ID}?")
  field(ZNAM, "${ZNAM=OK}")
  field(ONAM, "${ONAM=Overload}")
  field(ZSV,  "${ZSV=NO_ALARM}")
  field(OSV,  "${OSV=MAJOR}")
  field(TSE,  "${TSE=-2}")
}
