

record(mbbiDirect,"${ECMC_P}DevStat"){
  field(DESC, "$(HWTYPE): Device Status Word")
  field(PINI, "$(PINI=1)")
  field(DTYP, "asynUInt32Digital")
  field(INP,  "@asynMask($(PORT),$(ADDR=0),$(MASK=0xFFFFFFFF),$(TIMEOUT=1))T_SMP_MS=$(T_SMP_MS=1000)/TYPE=asynUInt32Digital/ec$(MASTER_ID).s$(SLAVE_POS).deviceStatus?")
  field(SCAN, "I/O Intr")
  field(FLNK, "${ECMC_P}-DevWarn.PROC")
  field(TSE,  "$(TSE=-2)")
}

record(bi,"${ECMC_P}DevWarn"){
  field(DESC, "$(HWTYPE): Device Warning")
  field(INP,  "${ECMC_P}-DevStat.B1")
  field(ZNAM, "No Alarm")
  field(ONAM, "Warning")
  field(ZSV,  "NO_ALARM")
  field(OSV,  "MINOR")
  field(FLNK, "${ECMC_P}-DevErr.PROC")
}

record(bi,"${ECMC_P}DevErr"){
  field(DESC, "$(HWTYPE): Device Error")
  field(INP,  "${ECMC_P}-DevStat.B2")
  field(ZNAM, "No Alarm")
  field(ONAM, "Error")
  field(ZSV,  "NO_ALARM")
  field(OSV,  "MAJOR")
}
