record(bi, "$(P)$(REC)") {
  field(DESC, "$(DESC=)")
  field(DTYP, "$(DTYP=asynInt32)")
  field(SCAN, "$(SCAN=1 second)")
  field(INP,  "@asyn($(PORT),0,1000)$(ASYN_OPT=)$(PARAM)")
  field(ZNAM, "$(ZNAM=Off)")
  field(ONAM, "$(ONAM=On)")
}
