record(ai, "$(P)$(REC)") {
  field(DESC, "$(DESC=)")
  field(DTYP, "$(DTYP=asynFloat64)")
  field(PREC, "$(PREC=3)")
  field(SCAN, "$(SCAN=1 second)")
  field(INP,  "@asyn($(PORT),0,1000)$(ASYN_OPT=)$(PARAM)")
}
