record(bi,"${ECMC_P}KL${SLAVE_NUM_KL}-BI${CH_ID}")
{
  field(PINI, "YES")
  field(DESC, "$(DESC=$(HWTYPE): Binary Input)")
  field(DTYP, "$(DTYP=asynInt32)")
  field(SCAN, "$(SCAN=I/O Intr)")
  field(INP,  "@asyn($(PORT),$(ADDR),$(TIMEOUT))T_SMP_MS=$(T_SMP_MS=1000)/TYPE=asynInt32/ec$(MASTER_ID).s$(SLAVE_POS).KL${ECMC_KL_SLAVE_NUM}_binaryInput${CH_ID}?")
  field(ZNAM, "$(ZNAM=Zero)")
  field(ONAM, "$(ONAM=One)")
  field(TSE,  "$(TSE=-2)")
}
