record(bi,"$(P)ec$(MASTER_ID)-s$(SLAVE_POS)-$(HWTYPE)-BK-s${SLAVE_NUM_KL}-BI${CH_ID}")
{
  field(PINI, "YES")
  field(DESC, "$(DESC=$(HWTYPE): Binary Output RB) RB")
  field(DTYP, "$(DTYP=asynInt32)")
  field(SCAN, "$(SCAN=I/O Intr)")
  field(INP,  "@asyn($(PORT),$(ADDR),$(TIMEOUT))T_SMP_MS=$(T_SMP_MS=1000)/TYPE=asynInt32/ec$(MASTER_ID).s$(SLAVE_POS).BK_S${SLAVE_NUM_KL}_BI_${CH_ID}?")
  field(ZNAM, "$(ZNAM=Zero)")
  field(ONAM, "$(ONAM=One)")
  field(TSE,  "$(TSE=-2)")
}
