{% import 'iocshMacros.jinja2' as iocsh -%}
{% import 'ecmcMacros.jinja2' as ecmc -%}

{# load EPICS modules #}
{{- iocsh.require(modules) -}}

{#- Only a single master is supported by ecmccfg so far. #}
{#- Make sure to provide the proper Macro #}
{{- ecmc.reset() }}
{#- add slaves  #}
{%- for slave in masters[0].slaves %}
    {{- ecmc.addSlave(slave) -}}
{% endfor %}
#- slaves added at bus positions ==> {{ ecmc.slaveID.IDs }}

{# apply EtherCATConfig  -#}
{{ ecmc.applyConfig() }}

{#- include diagnostics  #}
{{ iocsh.include(scripts.diagnostics) if scripts.diagnostics is defined }}

{#- enable EtherCAT bus  #}
{{ ecmc.setAppMode() }}

