html {
    font-size: 40%; /* Adjust this percentage to scale all font sizes */
}

/* Target the specific note classes */
.admonition.note p,
.admonition.warning p,
.admonition.tip p,
.admonition.info p {
    font-size: 1.2rem !important; /* Adjust size as needed */
}

/* Additional targeting, if needed */
.note p, .warning p, .tip p, .info p {
    font-size: 2.2rem !important;
}

code {
    font-size: 1.8rem !important;  /* Adjust size as needed */
}

/* General heading font size increases */
h1 {
    font-size: 3rem !important;  /* Adjust for h1 */
}

h2 {
    font-size: 3rem !important;  /* Adjust for h2 */
}

h3 {
    font-size: 3rem !important;  /* Adjust for h3 */
}

h4 {
    font-size: 3rem !important;  /* Adjust for h4 */
}

h5 {
    font-size: 2rem !important;  /* Adjust for h5 */
}

h6 {
    font-size: 2rem !important;    /* Adjust for h6 */
}

.page-title {
    font-size: 4rem !important;
}
