# ec0.s4.sdo.hw_enable.value
record(ao,"$(ECMC_P)SDO-$(NAME)-Val"){
  info(asyn:READBACK,"1")
  field(DTYP, "asynFloat64")
  field(OUT,  "@asyn($(PORT),$(ADDR=0),$(TIMEOUT=0))T_SMP_MS=${T_SMP_MS=1000}/TYPE=asynFloat64/ec${MASTER_ID}.s${SLAVE_POS}.sdo.${NAME}.value?")
  field(PREC, "$(PREC=3)")
  field(SCAN, "Passive")
  field(TSE,  "$(TSE=0)")
}
