#==============================================================================
# Add a slave and or a component from subst file.

#- Do not allow call to addSlave.cmd for same slave twice in a row
ecmcEpicsEnvSetCalcTernary(BLOCKSLAVE,"'${SLAVE_ID=-1}'=='${ECMC_COMP_SUBST_OLD_S_ID}'","# Block call to addSlave.cmd: Not allowed to add same slave twice.", "")
${BLOCKSLAVE}${SCRIPTEXEC} ${ecmccfg_DIR}addSlave.cmd, "SLAVE_ID=$(SLAVE_ID), HW_DESC=${HW_DESC}"
epicsEnvSet(ECMC_COMP_SUBST_OLD_S_ID,${ECMC_EC_SLAVE_NUM})
epicsEnvUnset(BLOCKSLAVE)

#- Check if invalid COMP or COMP_CH the block
ecmcEpicsEnvSetCalcTernary(BLOCKCOMP,"'${COMP=-1}'=='-1' or ${COMP_CH=-1}==-1","# Block call to applyComponent.cmd: No Valid component or channel.", "")
${BLOCKCOMP}${SCRIPTEXEC} ${ecmccomp_DIR}applyComponent.cmd "SLAVE_ID=$(SLAVE_ID),HW_DESC=${HW_DESC},COMP=${COMP},CH_ID=${COMP_CH},MACROS='${COMP_MACROS}'"
epicsEnvUnset(BLOCKCOMP)

